@font-face {
  font-family: 'Arial-MT';
  src: url("../assets/fonts/Arial-MT.woff"); /* Путь к файлу со шрифтом */
 }

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  position: relative;
  min-width: 480px;
  min-height: 100vh;
  font-family: 'Arial', sans-serif;
  font-size: 16px;
  color: #fff;
  text-align: center;
  background: /*url("../assets/img/bg.jpg") */center/cover, rgba(0, 0, 0, 0.5);
  background-blend-mode: multiply;
  transition: background-image 1s ease-in-out;
  overflow-x: hidden;
  overflow-y: hidden;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  height: 30vh;
  min-height: 220px;  
  padding: 20px;
}

.player {
  transition: 1s;
}

.player-controls {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  width: 400px;
  height: 35px;
  margin-bottom: 28px;
  padding: 0 20px;
  /* border: 5px solid white; */
  /* border-radius: 25px; */
  /* background-color: black; */
}

.player-icon {
  width: 20px;
  height: 20px;
  background-size: 20px 20px;
  background-position: center center;
  background-repeat: no-repeat;
  background-color: transparent;
  border: 0;
  outline: 0;
  opacity: .8;
  cursor: pointer;
  transition: .3s;  
}

.play {
  width: 20px;
  height: 20px;
  background-size: 20px 20px;
  background-image: url("../assets/svg/play.svg");
}

.volume-on {
  width: 20px;
  height: 20px;
  background-size: 20px 20px;
  background-image: url("../assets/svg/volume-on.svg");
  background-color: #fff;
  border-radius: 5px;
}

.volume-off {
  width: 20px;
  height: 20px;
  background-size: 20px 20px;
  background-image: url("../assets/svg/volume-off.svg");
  background-color: #fff;
  border-radius: 5px;
}

.volume-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.volume-progress-bar-container {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 80px;
  height: 10px;
  /* background-color: #fff; */
  border: 1px solid #fff;
  border-radius: 5px;
  cursor: pointer;
}

.volume-progress-bar {
  background-color: gray;
  border-radius: 5px;
  width: 50%;
  height: 100%;
}

.volume-toddler {
  position: absolute;
  left: 46.8%;
  background-color: white;
  width: 5px;
  height: 20px;
  border-radius: 5px;
}

.play-list {
  text-align: left;
}

.play-item {
  position: relative;
  padding: 5px;
  padding-left: 20px;
  list-style: none;
  opacity: .8;
  cursor: pointer;
  transition: .3s;
}

.progress-bar-container {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 400px;
  height: 10px;
  border: 1px solid white;
  cursor: pointer;
}

.progress-bar {
  width: 0%;
  height: 100%;
  background-color: gray;
}

.progress-bar-toddler {
  position: absolute;
  background-color: white;
  width: 5px;
  height: 20px;
  border-radius: 5px;
}
.soundtrack-info {
  height: 20px;
}

.play-item:hover {
  opacity: 1;
}

.play-item::before {
  content: "\2713";  
  position: absolute;
  left: 0;
  top: 2px;
  font-weight: 900;
}

.item-active::before {
  color: #C5B358;
}

/* .player-icon, */
.slider-icon,
.change-quote {
  width: 32px;
  height: 32px;
  background-size: 32px 32px;
  background-position: center center;
  background-repeat: no-repeat;
  background-color: transparent;
  border: 0;
  outline: 0;
  opacity: .8;
  cursor: pointer;
  transition: .3s;  
}

.player-icon:hover,
.slider-icon:hover,
.change-quote:hover {
  opacity: 1;
}

.player-icon:active,
.slider-icon:active,
.change-quote:active {
  border: 0;
  outline: 0;  
  transform: scale(1.1);
}

/* .play {
  width: 40px;
  height: 40px;
  background-size: 40px 40px;
  background-image: url("../assets/svg/play.svg");
} */

.pause {
  background-image: url("../assets/svg/pause.svg");
}

.play-prev {
  background-image: url("../assets/svg/play-prev.svg");
}

.play-next {
  background-image: url("../assets/svg/play-next.svg");
}

.weather {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  row-gap: 5px;
  width: 180px;
  min-height: 180px;  
  text-align: left;
  transition: 1s;
}

.weather-error {
  margin-top: -10px;
}

.description-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  column-gap: 12px;
}

.weather-icon {
  font-size: 44px;
}

.city {
  width: 170px;
  height: 34px;
  padding: 5px;
  font-size: 20px;
  line-height: 24px;
  color: #fff;  
  border: 0;
  outline: 0;
  border-bottom: 1px solid #fff;
  background-color: transparent;
}

.city::placeholder {  
  font-size: 20px;
  color: #fff;
  opacity: .6;
}

.main {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 40vh;
  min-height: 260px;  
  padding: 20px;
}

.slider-icon {
  position: absolute;
  top: 50%;
  margin-top: -16px;
  cursor: pointer;
}

.slide-prev {
  left: 20px;
  background-image: url("../assets/svg/slider-prev.svg");
}

.slide-next {
  right: 20px;
  background-image: url("../assets/svg/slider-next.svg");
}

.time {
  min-height: 124px;
  margin-bottom: 10px;
  font-family: 'Arial-MT';
  font-size: 100px;
  letter-spacing: -4px; 
  transition: 1s; 
}

.date {
  min-height: 28px;
  font-size: 24px;
  margin-bottom: 20px;
  transition: 1s;
}

.greeting-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: stretch;
  align-items: center;
  min-height: 48px;
  width: 100vw;
  font-size: 40px;
  transition: 1s;
}

.greeting {
  flex: 1;  
  padding: 10px;
  text-align: right;
}

.name {
  flex: 1;
  max-width: 50%;
  padding: 10px;
  font-size: 40px;
  text-align: left;
  color: #fff;
  background-color: transparent;
  border: 0;
  outline: 0;
}

.name::placeholder {
  color: #fff;
  opacity: .6;
}

.additional {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 400px;
  padding: 0 5px;
}


.settings-container {
  display: flex;
  gap: 5px;
  cursor: pointer;
  width: 100%;
  padding-top: 10px;
  width: max-content;
}

.settings-text {
  display: block;
}

.settings-img {
  width: 20px;
  height: 20px;
  background-size: 20px 20px;
  background-image: url("../assets/svg/options.svg");
  background-color: #fff;
  border-radius: 5px;
}

.to-do-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: rgba(265, 265, 265, 0.5);
  color: black;
  padding: 10px;
  border-radius: 10px;
  transition: 1s;
}

.goal-adder {
  width: 100%;
  height: 30px;
  cursor: pointer;
  border-radius: 10px;
}

.goal-block {
  display: flex;
  height: 30px;
  justify-content: space-between;
}

.input-delete {
  width: 8%;
  height: 100%;
  background-image: url("../assets/svg/close.svg");
  background-color: #fff;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 10px;
  border-radius: 10px;
  cursor: pointer;
}

.goal-input {
  display: flex;
  font-size: large;
  padding: 0 5%;
  width: 90%;
  height: 100%;
  border: 1px solid black;
  background-color: white;
  border-radius: 10px;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start; /*flex-end*/
  align-items: center;
  width: 100%;
  height: 30vh; /*30vh*/
  min-height: 160px;  
  padding: 20px;
  transition: 1s;
}

.change-quote {
  margin-bottom: 30px;
  background-image: url("../assets/svg/reload.svg");  
}

.quote {
  min-height: 32px;
}

.author {
  min-height: 20px;
  margin-bottom: 15px;
}

.settings-popup {
  position: absolute;
  top: -80%;
  left: 0; 
  right: 0;
  z-index: 20; 
  display: flex;
  flex-direction: column;
  margin-left: auto; 
  margin-right: auto;
  padding-top: 10px; 
  width: 40%;
  height: 80%;
  border-radius: 50px;
  background-color: gray;
  transition: 1.5s;
}

.settings-header {
  margin-bottom: 5%;
}

.language-container, .API-container, .hider-container  {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  gap: 25px;
  margin-bottom: 10%;
}

.language-input-container, .API-input-container {
  display: flex;
  justify-content: space-around;
}

.hider-input-container {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  padding: 0 10%;
}

.API-input {
  display: block;
  width: 50%;
  align-self: center;
}

.hide {
  display: none;
}

.en-container, .ru-container, .git-container, .unsplash-container, .flickr-container, 
.audio-hider, .weather-hider, .watch-hider, .date-hider, .quotes-hider, .greeting-hider, 
.todo-hider {
  display: flex;
  align-items: center;
  gap: 5px;
}

.audio-hider, .weather-hider, .watch-hider, .date-hider, .quotes-hider, .greeting-hider, 
.todo-hider {
  flex: 45%;
}

.checkbox {
  width: 20px;
  height: 20px;
  border: 2px solid black;
  cursor: pointer;
}

.active {
  width: 20px;
  height: 20px;
  background-size: 15px 15px;
  background-image: url("../assets/svg/mark.svg");
  background-color: #fff;
  background-repeat: no-repeat;
  background-position: center;
}

.blockHider {
  opacity: 0;
}

.submit-button {
  position: absolute;
  bottom: 4%;
  right: 4%;
  width: 80px;
  height: 40px;
  border-radius: 15px;
  border: none;
  cursor: pointer;
  transition: 1s;
}

.submit-button:hover {
  background-color: green;
  color: white;
}

.close-button {
  position: absolute;
  top: 4%;
  right: 4%;
  width: 30px;
  height: 30px;
  background-image: url("../assets/svg/close.svg");
  background-color: #fff;
  background-position: center;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: 1s;
}

.close-button:hover {
  background-color: red;
}

.background {
  display: none;
  position: absolute;
  top: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
  z-index: 4;
}

.background-active {
  display: block;
}

@media (max-width: 768px) {
  .time {
    min-height: 80px;
    font-size: 72px;    
  }

  .greeting-container {
    min-height: 40px;
    font-size: 32px;
  }

  .greeting {
    padding: 5px;
  }

  .name {
    font-size: 32px;
    padding: 5px;
  }

  .options-text {
    display: none;
  }
}