html {
    scroll-behavior: smooth; 
}

body {
    font-family: 'Aleo', serif;
    font-family: 'Magra', sans-serif;
    font-family: 'Red Hat Text', sans-serif;
}

@font-face {
    font-family: 'Aleo';
    src: url(assets/fonts/Aleo-Regular.ttf);
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: 'Aleo';
    src: url(assets/fonts/Aleo-Italic.ttf);
    font-style: italic;
    font-weight: 400;
}

@font-face {
    font-family: 'Magra';
    src: url(assets/fonts/Magra-Regular.ttf);
    font-weight: 400;
}

@font-face {
    font-family: 'Magra';
    src: url(assets/fonts/Magra-Bold.ttf);
    font-weight: 700;
}

@font-face {
    font-family: 'Red Hat Text';
    src: url(assets/fonts/RedHatText-Medium.ttf);
}

* {
    box-sizing: border-box;
  }

.container {
    width: 1440px;
    margin: 0 auto;
    height: 3735px;
    background: 
    url(assets/img/background/bg1.jpg) top / 100% 20.265% no-repeat,
    url(assets/img/background/bg2.jpg) bottom / 100% 35.636% no-repeat;
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 8.3%;
    height: 2.41%;
    background: rgba(242, 120, 92, 0.7);
    box-shadow: 0px 4px 4px rgba(13, 96, 111, 0.5);
}

.logo {
    display: flex;
    justify-content: space-between;
}

.logo-text {
    padding-left: 6px;
    font-family: 'Magra';
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 39px;
    color: #ffffff;
}

.nav {
    margin-right: 50px;
}

.nav-list {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    gap: 42px;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    margin: 0;
}

.nav-link {
    font-family: 'Red Hat Text';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    color: #FFFFFF;
    text-decoration: none;
}

.nav-link:hover {
    text-decoration: underline;
}

.login-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 7.153%;
    height: 45.555%;
    background: #0D606F;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 2px 3px rgba(13, 96, 111, 0.16);
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-family: 'Red Hat Text';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    color: #FFFFFF;
}

.login-button:hover {
    background: #FFFFFF;
    color: #F2785C;
    transition: all 0.5s ease-out;
}

.main {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    width: 100%;
    height: 95.879%;
}
.preview {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 1.883%;
    margin-left: 8.3%;
    margin-bottom: 10.998%;
    padding-bottom: 0.7%;
    width: 61.944%;
    height: 12.145%;
}

.preview-header {
    margin: 0;
    font-family: 'Aleo';
    font-style: normal;
    font-weight: 700;
    font-size: 80px;
    line-height: 96px;
    color: #FFFFFF;
}

.preview-text {
    font-family: 'Aleo';
    font-style: italic;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
}

.search {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 25.612%;
    background: rgba(255, 255, 255, 0.7);
    border-radius: 16px;
}

.search-text {
    margin-left: 4.596%;
    font-family: 'Aleo';
    font-style: italic;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: #F2785C;
}

.search-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-right: 2.018%;
    gap: 10px;
    width: 25.56%;
    height: 62.105%;
    background: #0D606F;
    box-shadow: 0px 0px 3px rgba(13, 96, 111, 0.08), 0px 2px 3px rgba(13, 96, 111, 0.16); 
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-family: 'Red Hat Text';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    color: #FFFFFF;    
}

.search-button:hover {
    background: #ffffff;
    color: #F2785C;
    transition: all 0.5s;
}

.steps {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 7.497%;
    margin-top: 10.998%;
    margin-bottom: 3.606%;
}

.steps-header {
    margin: 0;
    font-family: 'Red Hat Text';
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 53px;
    color: #F2785C;
}

.steps-section {
    display: flex;
    justify-content: space-between;
    width: 79.653%;
    height: 62.348%;
}

.steps-section-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: max-content;
    height: 100%;
}

.steps-section-item-img {
    width: 100px;
    height: 100px;
}

.steps-section-item-text {
    font-family: 'Aleo';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #0D606F;
}

.destinations {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-left: -97.222%;
    margin-top: 3.606%;
    margin-bottom: 2.832%;
    width: 294.444%;
    height: 30.904%;
}

.destinations-header {
    margin: 0;
    font-family: 'Red Hat Text';
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 53px;
    color: #F2785C;
}

.destinations-slider {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 76.776%;
}

.destinations-slider-container {
    position: relative;
    width: 18.868%;
    height: 100%;
}

.destinations-slider-container-img {
    width: 100%;
    height: 100%;
    border-radius: 16px;
}

.destinations-slider-container-text {
    position: absolute;
    left: 1.875%;
    bottom: 5%;
    font-family: 'Red Hat Text';
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 42px;
    color: #FFFFFF;
}

.destinations-radio {
    display: flex;
    gap: 12.5%;
    width: 1.887%;
    height: 1.919%;
}

.destinations-radio-current-on {
    width: 25%;
    height: 100%;
    background: url(assets/svg/EllipseOn.svg);
}

.destinations-radio-current-off {
    width: 25%;
    height: 100%;
    background: url(assets/svg/EllipseOff.svg);
}

.destinations-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 5.377%;
    height: 5.662%;
    background: #0D606F;
    box-shadow: 0px 0px 3px rgba(13, 96, 111, 0.08), 0px 2px 3px rgba(13, 96, 111, 0.16);
    border-radius: 10px;
    border: none;
    cursor: pointer;
    font-family: 'Red Hat Text';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    color: #FFFFFF;
}

.destinations-button:hover {
    background: #F2785C;
    color: #FFFFFF;
    transition: all 0.5s;
}

.destinations-button-img {
    width: 17.54%;
    height: 67.797%;
}

.stories {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    margin-top: 2.832%;
    /* padding-bottom: 5.394%; */
    padding-bottom: 2.786%;
    width: 100%;
    height: 40.852%;
    background: rgba(255, 255, 255, 0.7);
}

.stories-header {
    margin: 0;
    padding-bottom: 2.232%;
    font-family: 'Red Hat Text';
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 53px;
    color: #F2785C;
}

.stories-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 83.333%;
    height: 84.943%;
}

.stories-item {
    display: flex;
    gap: 3.41%;
    width: 100%;
    height: 22.916%;
}

.stories-item-img {
    width: 33.333%;
    height: 100%;
    filter: drop-shadow(0px 4px 4px #0D606F);
    border-radius: 16px;
}

.stories-item-text {
    display: flex;
    flex-direction: column;
    gap : 10%;
    width: 63.504%;
    height: 100%;
}

.stories-item-text-header {
    margin: 0;
    padding: 0;
    font-family: 'Aleo';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 42px;
    color: #0D606F;
}

.stories-item-text-p {
    margin: 0;
    padding: 0;
    font-family: 'Aleo';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #0D606F;
}

.stories-item-text-p-link {
    display: block;
    font-family: 'Aleo';
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    color: #0D606F;
}

.stories-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 15.833%;
    height: 3.978%;
    background: #0D606F;
    box-shadow: 0px 0px 3px rgba(13, 96, 111, 0.08), 0px 2px 3px rgba(13, 96, 111, 0.16);
    border-radius: 10px;
    cursor: pointer;
    border: none;
    font-family: 'Red Hat Text';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    color: #FFFFFF;
}

.stories-button:hover {
    background: #F2785C;
    color: #FFFFFF;
    transition: all 0.5s;
}

.stories-button-img {
    width: 17.544%;
    height: 67.797%;
}


.footer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    height: 1.711%;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 8.403%;
    width: 50.622%;
    height: 100%;
}

.footer-licence {
    font-family: 'Red Hat Text';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    color: #FFFFFF;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 19.23%;
    height: 100%;
}

.footer-item-img {
    width: 33.65px;
    height: 33.65px;
}
